.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242d3a;
  background-image: linear-gradient(75deg, #ac6e184b, #242d3a);
}

.card {
  width: 450px;
  height: 640px;
  padding-top : 0rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background: rgba(224, 155, 26, 0.979);
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.logo {
  display: block;
  margin-top: 20px;
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  margin-bottom: 2rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ffffff;
  color: #000000;
  background-color: #ffffff;
}

.button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
  background-color: #242d3a;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: #1833ac;
  animation: gradientShift 3s ease infinite;
}

